<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="secondary">
          <ion-button>
              <ion-title>Logout</ion-title>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title> 
          <div class="secondary-header">
            <h1 ion-text>{{'Help Me..' | translate}}</h1>
           </div>
          </ion-title>
      </ion-toolbar>
</ion-header>
  <ion-content>
    <div padding>
        <ion-list lines="none">
            <ion-text color="light">
                <h2 style="text-align: center; color: white;">{{'Registration Completed' | translate}}</h2>
              </ion-text>
              <ion-text color="light">
                  <h5 style="text-align: center; color: white;">{{'Now you are protected by Help Me.' | translate}}</h5>
                </ion-text>
          <div padding>
            <ion-button color="light" expand="block" (click)="continue()">
              {{'Continue' | translate}}
            </ion-button>
          </div>
        </ion-list>
      </div>      
  </ion-content>
  