<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="secondary">
          <ion-button>
              <ion-title>Logout</ion-title>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title> 
          <div class="secondary-header">
            <h1 ion-text>{{'Help Me..' | translate}}</h1>
           </div>
          </ion-title>
      </ion-toolbar>
</ion-header>
  <ion-content>
    <div padding>
      <ion-list lines="none">
          <ion-text color="light">
              <h2 style="text-align: center; color: white;">{{'Personal Info' | translate}}</h2>
            </ion-text>
        <ion-item>
          <ion-label position="stacked">{{'Emergency Contact Name' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="emergencyContactName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'Emergency Contact Phone' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="emergencyContactPhone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'Relationship' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="dataOfBirth"></ion-input>
        </ion-item>
      
        <div padding>
          <ion-button color="light" expand="block" (click)="continue()">
              {{'Continue >>' | translate}}
          </ion-button>
        </div>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer>
      <ion-toolbar color="light">
          <ion-back-button text="Back" icon="arrow-round-back" defaultHref="/home"></ion-back-button>
      </ion-toolbar>
    </ion-footer>