<ion-header>
</ion-header>
<ion-content>
  <div class="login-header">
   <h1 ion-text>{{'Help Me..' | translate}}</h1>
  </div>
  <div padding>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">{{'EMAIL_ADDRESS' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button  color="light" expand="block" (click)="login()">{{'LOGIN' | translate }}</ion-button>
      <ion-button color="light" expand="block"  (click)="reset()">
        {{'FORGOT' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="isRegisterEnabled">
        <ion-button color="dark" fill="clear" expand="block" routerLink="/register">{{'REGISTER' | translate }}</ion-button>
</ion-footer>