// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: firebrick;
  --ion-text-color: white;
  font-family: "Trebuchet MS", Times, serif;
}
