.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}
.row{
     align-items: center;
   }
   .icon {
     font-size: 50px;
  }

  