<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="secondary">
          <ion-button>
              <ion-title>Logout</ion-title>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title> 
          <div class="secondary-header">
            <h1 ion-text>{{'Help Me..' | translate}}</h1>
           </div>
          </ion-title>
      </ion-toolbar>
</ion-header>
  <ion-content>
    <div padding>
      <ion-list lines="none">
          <ion-item>
              <h1 ion-text>{{'Configuration' | translate}}</h1>
            </ion-item>
                  <ion-card>
                      <ion-card-content>
                          <ion-item>
                              <ion-label>Privacy policy</ion-label>
                            </ion-item>
                      </ion-card-content>
                    </ion-card>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer>
      <ion-toolbar color="light">
          <ion-back-button text="Back" icon="arrow-round-back" defaultHref="/home"></ion-back-button>
      </ion-toolbar>
    </ion-footer>