/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.login-header{
    text-align: center;
    padding: 3rem;
}
.login-header h1{
    font-weight: 100;
    font-family: "Brush Script MT", Times, serif;
    font-size: 40px;
}
.login-header img{
    height: 80px;
    width: 80px;
}
.secondary-header{
    text-align: center;
}
.secondary-header h1{
    font-weight: 100;
    font-family: "Brush Script MT", Times, serif;
    font-size: 40px;
}
.secondary-header img{
    height: 50px;
    width: 50px;
}

ion-button{
    --box-shadow:none;
}

ion-input, ion-textarea, ion-select{
    background-color: white;
    margin-top: 1rem !important;
    border: 1px solid white;
}

ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent;
  }

.native-input.sc-ion-input-md{
    padding: 0.5rem !important;
    //color: #FF69B4;  
    background-color: white;
}

.sidebar-header{
    //background: #FF69B4;
    height: 150px;
    padding: 2rem;
    //color: #FF69B4;;
}